<html>
  <body>
    <div>
      <img src="{{ url_for('static', filename=data.filename) }}" alt="image">
    </div>
    <div>
      <h1>{{ data.username }} data</h1>
      <table>
        <tr>
          <th>Field</th>
          <th>Value</th>
        </tr>
        <tr>
          <td>Room Name</td>
          <td>{{ data.room_name }}</td>
        </tr>
        <tr>
          <td>Username</td>
          <td>{{ data.username }}</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>{{ data.gender }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ data.email }}</td>
        </tr>
      </table>
    </div>
  </body>
</html>